.DS_Store
.idea/
__pycache__
*.pyc
z_*
zz_*
dist
*.egg-info
make.bat
Makefile
build
source
banana
venv
OpenGUIbru2nii
APMFruits20111130
paper
_build
_static
_templates
docs/bruker2nifti.parsers.rst
docs/bruker2nifti.rst
docs/modules.rst